.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1.5em;
}
.recipe-card {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--shadow-color);
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Stack child elements vertically */
  height: 100%; /* Ensure consistent height for all cards */
  .custome-image {
    z-index: -1;
  }
  .recipe-card-info {
    padding: 15px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Space out elements */
    flex-grow: 1; /* Allow this section to grow and fill space */
    background-color: var(--background-color);
    .author-img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: 3px solid var(--background-light);
      box-shadow: 0 1px 3px var(--shadow-color);
      margin-top: -50px;
      z-index: 2;
    }
    .recipe-title {
      font-size: 1.25em;
      font-weight: bold;
      margin-bottom: 0.5em;
      color: var(--text-color);
      margin-top: 0.25em;
    }
    .recipe-desc {
      color: var(--text-light);
      font-size: 0.9em;
      letter-spacing: 1px;
      flex-grow: 1;
      text-align: justify;
    }
    .view-button {
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--primary-color);
      margin-top: 0.75em;
    }
  }
}
